<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增人力资源档案')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-files-add">

        <div class="form-group">
            <label class="col-sm-2 control-label">一级机构：</label>
            <div class="col-sm-4">
                <select id="oneJjgou" name="oneJjgou" class="form-control m-b" th:with="type=${@dict.getType('sys_yijijigou')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>

            <label class="col-sm-2 control-label">二级机构：</label>
            <div class="col-sm-4">
                <select id="twoJjgou" name="twoJjgou" class="form-control m-b" th:with="type=${@dict.getType('sys_erjijigou')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">三级机构：</label>
            <div class="col-sm-4">
                <select id="threeJjgou" name="threeJjgou" class="form-control m-b" th:with="type=${@dict.getType('sys_sanjijigou')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">职位分类：</label>
            <div class="col-sm-4">
                <input name="ZWFL" class="form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">职位名称：</label>
            <div class="col-sm-4">
                <input name="ZWMC" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">职称：</label>
            <div class="col-sm-4">
                <select id="ZC" name="ZC" class="form-control m-b" th:with="type=${@dict.getType('sys_job_name')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">姓名：</label>
            <div class="col-sm-4">
                <input name="NAME" class="form-control" type="text">
            </div>

            <label class="col-sm-2 control-label">性别：</label>
            <div class="col-sm-4">
                <select id="SEX" name="SEX" class="form-control m-b">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">邮箱：</label>
            <div class="col-sm-4">
                <input name="EMAIL" class="form-control" type="text">
            </div>

            <label class="col-sm-2 control-label">电话：</label>
            <div class="col-sm-4">
                <input name="PHONE" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">QQ：</label>
            <div class="col-sm-4">
                <input name="QQ" class="form-control" type="text">
            </div>

            <label class="col-sm-2 control-label">手机：</label>
            <div class="col-sm-4">
                <input name="mobilePhone" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">地址：</label>
            <div class="col-sm-4">
                <input name="ADDRESS" class="form-control" type="text">
            </div>

            <label class="col-sm-2 control-label">邮编：</label>
            <div class="col-sm-4">
                <input name="POSTCODE" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">国籍：</label>
            <div class="col-sm-4">
                <select id="NATIONALITY" name="NATIONALITY" class="form-control m-b">
                    <option value="中国">中国</option>
                    <option value="英国">英国</option>
                </select>
            </div>
            <label class="col-sm-2 control-label">出生地：</label>
            <div class="col-sm-4">
                <input name="birthPlace" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">生日：</label>
            <div class="col-sm-4">
                <div class="input-group date">
                    <input name="BIRTHDAY" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <label class="col-sm-2 control-label">民族：</label>
            <div class="col-sm-4">
                <select id="NATION" name="NATION" class="form-control m-b">
                    <option value="汉族">汉族</option>
                    <option value="苗族">苗族</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">宗教信仰：</label>
            <div class="col-sm-4">
                <select id="RELIGIOUS" name="RELIGIOUS" class="form-control m-b">
                    <option value="无">无</option>
                    <option value="耶稣教">耶稣教</option>
                </select>
            </div>
            <label class="col-sm-2 control-label">政治面貌：</label>
            <div class="col-sm-4">
                <select id="POLITICAL" name="POLITICAL" class="form-control m-b">
                    <option value="无">无</option>
                    <option value="共青团员">共青团员</option>
                    <option value="党员">党员</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">身份证号码：</label>
            <div class="col-sm-4">
                <input name="idNumber" class="form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">社会保障码：</label>
            <div class="col-sm-4">
                <input name="SHBZM" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">年龄：</label>
            <div class="col-sm-4">
                <input name="AGE" class="form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">学历：</label>
            <div class="col-sm-4">
                <select id="EDUCATION" name="EDUCATION" class="form-control m-b">
                    <option value="本科">本科</option>
                    <option value="硕士">硕士</option>
                    <option value="大专">大专</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">教育年限：</label>
            <div class="col-sm-4">
                <input name="educationYear" class="form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">学历专业：</label>
            <div class="col-sm-4">
                <select id="PROFESSIONAL" name="PROFESSIONAL" class="form-control m-b">
                    <option value="计算机">计算机</option>
                    <option value="工商管理">工商管理</option>
                    <option value="商务英语">商务英语</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">薪酬标准：</label>
            <div class="col-sm-4">
                <input name="salaryStandard" class="form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">开户行：</label>
            <div class="col-sm-4">
                <input name="openBank" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">账号：</label>
            <div class="col-sm-4">
                <input name="ACCOUNT" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">创建时间：</label>
            <div class="col-sm-4">
                <div class="input-group date">
                    <input name="createdTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>

            <label class="col-sm-2 control-label">创建人：</label>
            <div class="col-sm-4">
                <input name="createdBy" class="form-control" type="text" th:value="${@permission.getPrincipalProperty('userName')}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">特长：</label>
            <div class="col-sm-4">
                <input name="SPECIALITY" class="form-control" type="text">
            </div>

            <label class="col-sm-2 control-label">爱好：</label>
            <div class="col-sm-4">
                <input name="HOBBY" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">个人履历：</label>
            <div class="col-sm-10">
                <textarea name="RESUME" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">家庭情况信息：</label>
            <div class="col-sm-10">
                <textarea name="familyData" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">备注：</label>
            <div class="col-sm-10">
                <textarea name="COMMENT" class="form-control"></textarea>
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    var prefix = ctx + "system/files"
    $("#form-files-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-files-add').serialize());
        }
    }

    $("input[name='BIRTHDAY']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='createdTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='updatedTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>