<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('人力资源档案列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
<!--                            一级机构：<select name="oneJjgou" th:with="type=${@dict.getType('sys_yijijigou')}">-->
<!--                            <option value="">所有</option>-->
<!--                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"-->
<!--                                    th:value="${dict.dictValue}"></option>-->
<!--                        </select>-->
                            一级机构:<select id="oneJjgou"  name="oneJjgou">
<!--                            <option value="00">所有</option>-->
                        </select>
                        </li>
                        <li>
<!--                            二级机构：<select name="twoJjgou" th:with="type=${@dict.getType('sys_erjijigou')}">-->
<!--                            <option value="">所有</option>-->
<!--                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"-->
<!--                                    th:value="${dict.dictValue}"></option>-->
<!--                        </select>-->
                            二级机构:<select id="twoJjgou"  name="twoJjgou">
                                <option th:value="00">所有</option>
                            </select>
                        </li>
                        <li>
<!--                            三级机构：<select name="threeJjgou" th:with="type=${@dict.getType('sys_sanjijigou')}">-->
<!--                            <option value="">所有</option>-->
<!--                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"-->
<!--                                    th:value="${dict.dictValue}"></option>-->
<!--                        </select>-->
                            三级机构:<select id="threeJjgou"  name="threeJjgou">
                                <option th:value="00">所有</option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="beginTime"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="endTime"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:files:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:files:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:files:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:files:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:files:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:files:remove')}]];
    var prefix = ctx + "system/files";


    // var start_deptId = "";  //部门id
    var start_parentId = 0; //父级部门id
    var ancestors = 0; //祖级部门id
    //页面一加载调取后台查询全部省份的方法
    $.ajax({
        url: ctx + "system/dept/list",
        type: "post",
        dataType: "json",
        data: {
            // "deptId": start_deptId,
            "parentId": start_parentId,
            "ancestors": ancestors
        },
        success: function (data) {
            $("#oneJjgou").append("<option value='00'>所有</option>");
            $(data).each(function (a, b) {
                $("#oneJjgou").append("<option value='" + b.deptId + "'>" + b.deptName + "</option>");
            });
        },
        error: function () {

        }
    });
    //选择省份，保存省份编码和对应名称，以及联动市级下拉框数据
    $("#oneJjgou").change(function () {
        // var p_provinceId = "";
        var p_parentId = "";
        var ancestors = "";
        $("#twoJjgou").empty();
        $("#threeJjgou").empty();
        var a = $("#oneJjgou option:selected").text();
        $("#belongYJName").val(a);
        var p_parentId = $("#oneJjgou").val();
        if (p_parentId != '00') {
            // $("#twoJjgou").append("<option value='0'>请选择二级机构</option>");
            $("#threeJjgou").append("<option value='00'>所有</option>");
            $.ajax({
                url: ctx + "system/dept/list",
                type: "post",
                dataType: "json",
                data: {
                    // "provinceId": p_provinceId,
                    "parentId": p_parentId,
                    "ancestors": ancestors
                },
                success: function (data) {
                    $("#twoJjgou").append("<option value='00'>所有</option>");
                    $(data).each(function (a, b) {
                        $("#twoJjgou").append("<option value='" + b.deptId + "'>" + b.deptName + "</option>");
                    });
                },
                error: function () {
                }
            });
        }else {
            $("#twoJjgou").append("<option value='00'>所有</option>");
            $("#threeJjgou").append("<option value='00'>所有</option>");
        }

    });
    //选择城市，保存城市编码和对应名称，以及联动县级下拉框数据
    $("#twoJjgou").change(function () {
        // var c_provinceId = "";
        var c_parentId = "";
        var ancestors = "";
        $("#threeJjgou").empty();
        var c_parentId = $("#twoJjgou").val();
        var a = $("#twoJjgou option:selected").text();
        $("#ivtStr2").val(a);
        if (c_parentId != '00') {
            $.ajax({
                url: ctx + "system/dept/list",
                type: "post",
                dataType: "json",
                data: {
                    // "provinceId": c_provinceId,
                    "parentId": c_parentId,
                    "ancestors": ancestors
                },
                success: function (data) {
                    $("#threeJjgou").append("<option value=''>所有</option>");
                    $(data).each(function (a, b) {
                        $("#threeJjgou").append("<option value='" + b.deptId + "'>" + b.deptName + "</option>");
                    });
                },
                error: function () {
                }
            });
        }else {
            $("#threeJjgou").append("<option value='00'>所有</option>");
        }
    });
    //选择区县，保存区县编码和对应名称
    $("#threeJjgou").change(function () {
        $("#town").empty();
        var a = $("#threeJjgou option:selected").text();
        $("#ivtStr4").val(a);
    });




    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "人力资源档案",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '档案编号'
                },
                {
                    field: 'zc',
                    title: '职称'
                },
                {
                    field: 'name',
                    title: '姓名'
                },
                {
                    field: 'sex',
                    title: '性别'
                },
                {
                    field: 'oneJjgou',
                    title: '一级机构'
                },
                {
                    field: 'twoJjgou',
                    title: '二级机构'
                },
                {
                    field: 'threeJjgou',
                    title: '三级机构'
                },
                {
                    field: 'zwmc',
                    title: '职位名称'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>